USE [master]
GO
/****** Object:  Database [CRUD_USING_ASP.NET_WEB_API_AND_REACT_DB]    Script Date: 20/12/2020 5:45:30 PM ******/
CREATE DATABASE [CRUD_USING_ASP.NET_WEB_API_AND_REACT_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUD_USING_ASP.NET_WEB_API_AND_REACT_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CRUD_USING_ASP.NET_WEB_API_AND_REACT_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUD_USING_ASP.NET_WEB_API_AND_REACT_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CRUD_USING_ASP.NET_WEB_API_AND_REACT_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUD_USING_ASP.NET_WEB_API_AND_REACT_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUD_USING_ASP.NET_WEB_API_AND_REACT_DB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 20/12/2020 5:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name] [varchar](30) NOT NULL,
	[Position] [varchar](30) NOT NULL,
	[Mobile_No] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([ID], [Full_Name], [Position], [Mobile_No]) VALUES (1, N'Joshua C. Magoliman', N'Programmer', N'09475613881')
INSERT [dbo].[Employee] ([ID], [Full_Name], [Position], [Mobile_No]) VALUES (11, N'Joanna Mae C. Magoliman', N'Corporate Banker', N'09745464878')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
USE [master]
GO
